@import '../../utils/sizes';

// Navbar Size
@import '../../components/navbar/styles.module';

.fullPageLoader {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}