@import '../../utils/colors';

// AuthShowcase Styles
@import '../authShowcase/styles.module';

$login-width: 450;

.loginSection {
  flex-basis: #{$login-width}px;
  background-color: $light;
  display: flex;
  justify-content: center;
  align-items: center;

  // offset center
  margin-bottom: 100px;
}

@media screen and (max-width: #{$breakpoint-1}px) {
  .loginSection {
    flex: 1;
  }
}