@import '../../utils/sizes';
@import '../../utils/colors';

// Local
@import '../navbar/styles.module';

$animDur: 250;

.filter {
  position: sticky;
  padding: #{$padding * 2}px;
  top: #{$navbarHeightNormal}px;
  background-color: $light;
  transition: top #{$animDur}ms ease-in-out;
  border-bottom: 1px rgba($dark, 0.25) solid;

  &.peek {
    top: 0px
  }
}