@import '../../utils/sizes';
@import '../../utils/colors';

$avatar-size: 75;

// Breakpoints
$breakpoint-1: 700;

.testimonialSection {
  margin-bottom: #{$section-space}px;

  .testimonialContainer {
    max-width: #{$clamp-width}px;
    margin: auto;
    
    .title {
      text-align: center;
      margin-bottom: #{$margin * 6}px;
      font-weight: bold;
      padding: #{$padding * 2}px;
    }

    .items {
      display: flex;
      justify-content: space-evenly;

      .customer {
        flex: 1;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: #{$padding * 2}px;
  
        .avatar {
          background-color: $secondary;
          width: #{$avatar-size}px;
          height: #{$avatar-size}px;
          margin-bottom: #{$margin * 4}px;
        }
  
        .text {
          text-align: center;
          margin-bottom: #{$margin * 4}px;
          flex: 1;
        }
  
        .person {
          font-weight: bold;
        }
      }
    }
  }
}

@media screen and (max-width: #{$breakpoint-1}px) {
  .testimonialSection {
  
    .testimonialContainer {
      
      .title {
        text-align: center;
        margin-bottom: #{$margin * 6}px;
        font-weight: bold;
      }
  
      .items {
        flex-direction: column;
        align-items: center;
  
        .customer {
          flex: 1;
          max-width: 300px;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: #{$padding * 2}px;
    
          .avatar {
            background-color: $secondary;
            width: #{$avatar-size}px;
            height: #{$avatar-size}px;
            margin-bottom: #{$margin * 4}px;
          }
    
          .text {
            text-align: center;
            margin-bottom: #{$margin * 4}px;
            flex: 1;
          }
    
          .person {
            font-weight: bold;
          }
        }
      }
    }
  }  
}
