@import '../../utils/sizes';
@import '../../utils/colors';

$avatar-size: 75;

.testimonialSection {
  .title {
    text-align: center;
    margin-bottom: #{$margin * 4}px;
    font-weight: bold;
    padding: #{$padding * 2}px;
  }

  .container {
    position: relative;
    .leftFade {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 50px;
      z-index: 2;
      background: linear-gradient(90deg, $light 0%, rgba(255,255,255,0) 100%);
    }
  
    .rightFade {
      position: absolute;
      top: 0px;
      right: 0px;
      height: 100%;
      width: 50px;
      z-index: 2;
      background: linear-gradient(90deg, rgba(255,255,255,0) 0%, $light 100%);
    }

    .itemsViewport {
      overflow: hidden;
      width: 100%;
      position: relative;
  
      .itemsRow {
        display: flex;
        align-items: stretch;
        user-select: none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -webkit-tap-highlight-color: transparent;
  
        .slide {
          position: relative;
          min-width: 300px;
          //background-color: red;
          display: flex;
          justify-content: stretch;
          align-items: stretch;
          padding-left: 10px;
          padding-right: 10px;
  
          .customer {
            flex: 1;
            max-width: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: #{$padding * 2}px;
      
            .avatar {
              background-color: $secondary;
              width: #{$avatar-size}px;
              height: #{$avatar-size}px;
              margin-bottom: #{$margin * 4}px;
              position: relative;
              overflow: hidden;

              .img {
                position: absolute;
                top: 0px;
                left: 0px;
                height: 100%;
                width: 100%;
              }
            }
      
            .text {
              text-align: center;
              margin-bottom: #{$margin * 4}px;
              flex: 1;
            }
      
            .person {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
