@import '../../utils/sizes';

.policySection {
  padding: #{$padding * 2}px;

  .policyContainer {
    max-width: #{$clamp-width}px;
    margin: auto;

    .title {
      font-weight: bold;
    }

    .header {
      font-weight: bold;
    }
  }
}