@import '../../../../utils/sizes';

$left-width: 200;

$breakpoint-1: 700;

.row {
  display: flex;
  padding-top: #{$padding * 2}px;
  padding-bottom: #{$padding * 2}px;
  align-items: center;

  .left {
    width: #{$left-width}px;

    .caption {
      font-weight: bold;
    }
  }

  .right {
    flex: 1
  }
}

.actions {
  padding-top: #{$padding * 2}px;
}

@media screen and (max-width: #{$breakpoint-1}px) {
  .row {
    flex-direction: column;
    align-items: flex-start;
  
    .left {
      flex: 1;
      text-align: left;
      .caption {
        font-weight: bold;
      }
    }
  
    .right {
      flex: 1;
      text-align: left;
    }
  }
  
  .actions {
    padding-top: #{$padding * 2}px;
  }
}