@import '../../utils/colors';
@import '../../utils/sizes';

//Nav Styles
@import '../../organisms/navbar/styles.module';

@mixin gutterSizes($type) {
  &.gutter_xs {
    margin-#{$type}: #{$section-margin / 2}px;
  }

  &.gutter_sm {
    margin-#{$type}: #{$section-margin / 1.5}px;
  }

  &.gutter_md {
    margin-#{$type}: #{$section-margin}px;
  }

  &.gutter_lg {
    margin-#{$type}: #{$section-margin * 1.5}px;
  }

  &.gutter_xlg {
    margin-#{$type}: #{$section-margin * 2}px;
  }
  margin-#{$type}: #{$section-margin}px;
}

.section {
  &.clamped {
    max-width: #{$clamp-width}px;
    margin: auto;
  }

  &.padded {
    padding: #{$padding}px;
  }

  &.gutter_bottom {
    @include gutterSizes(bottom);
  }

  &.gutter_top {
    @include gutterSizes(top);
  }

  &.gutter_both {
    @include gutterSizes(top);
    @include gutterSizes(bottom);
  }

  &.gutter_none {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.detector {
  position: absolute;
  z-index: -9999;
  pointer-events: none;
  top: 0px;
  left: 0px;
  height: #{$navbarHeightTrans}px;
  width: 100%;
}

.layout {
  display: flex;
  min-height: 100vh;;
  flex-direction: column;

  .main {
    flex: 1; // <== Ensure the footer is always stuck at the bottom
    background-color: $light;

    &.navNormal {
      margin-top: #{$navbarHeightNormal}px;
    }
  }
}