@import '../../utils/colors';
@import '../../utils/sizes';

$breakpoint-1: 725;
$info-width: 300;


.showcaseSection {
  flex: 1;
  //background-color: $dark;
  position: relative;

  .showcaseContainer {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .imgContainer {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      display: flex;
      
      .img {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        filter: brightness(20%);
      }
    }

    .infoContainer {
      position: relative;
      padding: #{$padding * 2}px;
      width: #{$info-width}px;
      display: flex;
      justify-content: center;
      margin-left: #{$shape-divider-height}px;

      .logoContainer {
        flex: 1;
      }
    }
  }

  .sideDivider {
    position: absolute;
    top: 0px;
    left: -3px;
    height: 100%;
    //width: #{$shape-divider-height}px;
    width: 25px;
    //overflow: hidden;
    line-height: 0;
    z-index: 99;
    
    svg {
      position: relative;
      display: block;
      height: 100%;
      width: 100%;
    }
    
    .shapeFill {
      fill: $light;
    }
  }
}

@media screen and (max-width: #{$breakpoint-1}px) {
  .showcaseSection {
    display: none;
  }
}
