@import '../../utils/sizes';
@import '../../utils/colors.scss';
@import '../../components/navbar/styles.module';

$max-content-width: 675;
$cta-margin-left: 50;
$content-margin: 125;

// Breakpoints
$breakpoint-1: 725;
$breakpoint-2: 425;

.hero {
  position: relative;

  .imgContainer {
    user-select: none;
    position: absolute;
    top: -#{$navbarHeightTrans}px;
    height: calc(100% + #{$navbarHeightTrans}px);
    width: 100%;
    z-index: -99;

    .img {
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }


  .heroContainer {
    padding: #{$padding * 2}px;
    display: flex;
    justify-content: center;

    .heroContent {
      max-width: #{$clamp-width}px;
      flex: 1;
      display: flex;
      justify-content: flex-end;
      padding-top: #{$content-margin / 2}px;
      padding-bottom: #{$content-margin}px;

      .content {
        max-width: #{$max-content-width}px;

        .header {
          font-size: 5.75rem;
        }
        .subheader {
          color: $light;
        }

        .callToAction {
          display: flex;

          button {
            margin-right: #{$cta-margin-left}px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: #{$breakpoint-1}px) {
  .hero {
    .heroContainer {
      .heroContent {
        .content {
          .header {
            font-size: 4rem;
            text-align: center;
          }
          .subheader {
            text-align: center;
            font-size: 2rem;
          }
  
          .callToAction {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
  
            button {
              flex-shrink: 0;
              align-self: center;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: #{$breakpoint-2}px) {
  .hero {
    .heroContainer {
      .heroContent {
        padding-top: #{$padding * 2}px;
        padding-bottom: #{$padding * 2}px;

        .content {
          .header {
            font-size: 3rem;
            text-align: center;
          }
          .subheader {
            text-align: center;
            font-size: 1.25rem;
          }
  
          .callToAction {
            display: flex;
            justify-content: center;
            flex-direction: column;
  
            button {
              align-self: center;
              margin-right: 0px;

              &:first-child {
                margin-bottom: #{$margin * 4}px;
              }
            }
          }
        }
      }
    }
  }
}
