@import '../../../../utils/colors';

.alertTitle {
  font-weight: bolder;
}

.alertError {
  // WTF, in testing this isnt even needed!
  background-color: $light !important;
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
