@import '../../utils/colors';

//Nav Styles
@import '../navbar/styles.module';

.layout {
  display: flex;
  min-height: 100vh;;
  flex-direction: column;

  &.accountNav {
    margin-top: #{$navbarHeightNormal}px;
  }

  .main {
    // Ensure the footer is always stuck at the bottom
    flex: 1;
    background-color: $light;
  }
}