@import '../../utils/colors';

.layout {
  display: flex;
  min-height: 100vh;;
  flex-direction: column;

  .main {
    // Ensure the footer is always stuck at the bottom
    flex: 1;
    position: relative;
    background-color: $light;
  }
}