@import '../../utils/sizes';
@import '../../utils/colors';

.faqSection {
  .title {
    margin-bottom: #{$margin * 3}px;
  }

  .questionSection {
    margin-bottom: #{$margin * 5}px;

    &:last-child {
      margin-bottom: 0px;
    }

    .header {
      margin-bottom: #{$margin}px;
    }

    .questionsContent {
      margin-top: #{$margin}px;
      display: grid;
      grid-row-gap: #{$margin * 2}px;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

      .question {
        display: flex;

        .left {
          padding: #{$padding}px;

          .questionAvatar {
            background-color: $secondary;
          }
        }

        .right {
          padding: #{$padding}px;

          .questionHeader {
            margin-bottom: #{$margin}px;
          }

          .questionContent {

          }
        }
      }
    }
  }
}