@import '../../utils/sizes';

.faqSection {
  .title {
    font-weight: bold;
    margin-bottom: #{$margin * 2}px;
  }

  .questions {
    margin-bottom: #{$section-space / 2}px;

    .header {
      font-weight: bold;
    }
  }
}