@import '../../utils/sizes';
@import '../../utils/colors';

.featuredContainer {
  padding: #{$padding * 2}px;
  padding-bottom: #{$shape-divider-height + ($padding * 2)}px;
  padding-top: #{$shape-divider-height + ($padding * 2)}px;
  background-color: $grey;
  position: relative;
  margin-bottom: #{$section-space / 2}px;

  .topDivider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

    svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: #{$shape-divider-height}px;
      transform: rotateY(180deg);
    }

    .shapeFill {
      fill: $light;
    }
  }

  .bottomDivider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);

    svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: #{$shape-divider-height}px;
    }

    .shapeFill {
      fill: $light;
    }
  }
}