@import '../../utils/sizes';
@import '../../utils/border';
@import '../../utils/colors';

// Breakpoints
$breakpoint-1: 1075;
$breakpoint-2: 575;

.featuredSection {
  padding: #{$padding * 2}px;
  padding-bottom: #{$shape-divider-height + ($padding * 2)}px;
  padding-top: #{$shape-divider-height + ($padding * 2)}px;
  background-color: $grey;
  position: relative;
  margin-bottom: #{$section-space / 2}px;

  .featuredContainer {
    max-width: #{$clamp-width}px;
    margin: auto;
    padding-top: #{$shape-divider-height + ($padding * 2)}px;
    padding-bottom: #{$shape-divider-height + ($padding * 2)}px;
  }

  .topDivider {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

    svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: #{$shape-divider-height}px;
      transform: rotateY(180deg);
    }

    .shapeFill {
      fill: $light;
    }
  }

  .bottomDivider {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);

    svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: #{$shape-divider-height}px;
    }

    .shapeFill {
      fill: $light;
    }
  }
}

@media screen and (max-width: #{$breakpoint-1}px) {
  .featuredSection {
    .featuredContainer {
      .title {
        font-weight: bold;
        margin-bottom: #{$margin * 3}px;
      }
  
      .showcase {
        justify-content: flex-start;

        &::-webkit-scrollbar {
          width: 11px;
        }
        & {
          scrollbar-width: thin;
          scrollbar-color: $secondary $grey;
        }
        &::-webkit-scrollbar-track {
          background: $grey;
        }
        &::-webkit-scrollbar-thumb {
          background-color: $secondary ;
          border-radius: 6px;
          border: 3px solid $grey;
        }

        .product {
          flex-basis: 300px;
          flex-shrink: 0;
        }
      }
    }
  }
}

@media screen and (max-width: #{$breakpoint-2}px) {
  .featuredSection {
    .featuredContainer {
      .title {
        text-align: center;
      }
    }
  }
}