@import '../../utils/sizes';
@import '../../utils/colors';

$breakpoint-1: 625;

.aboutSection {
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo {
    margin-bottom: #{$margin * 4}px;
    margin-top: #{$margin * 4}px;
  }

  .title {
    font-weight: bold;
    margin-bottom: #{$margin * 4}px;
  }

  .content {
    max-width: 750px;
    text-align: center;

    .description {
      white-space: pre-line;
    }
  }
}

@media screen and (max-width: #{$breakpoint-1}px) {
  .aboutSection {
    .title {
      text-align: center;
    }
  }
}
