@import '../../../../utils/colors';
@import '../../../../utils/sizes';

// Parent vars
@import '../../styles.module';

.tab {
  padding-left: #{$padding * 2}px;
  padding-right: #{$padding * 2}px;
  position: relative;
  
  .title {
    font-weight: bold;
  }

  .content {
    margin-top: #{$margin * 2}px;
    position: relative;
  }
}

@media screen and (max-width: #{$breakpoint-1}px) {
  .tab {
    .title {
      text-align: center;
    }
  }
}