@import '../../utils/sizes';
@import '../../utils/colors';

// Navbar Styles
@import '../../components/navbar/styles.module';

$breakpoint-1: 700;

$animDur: 250;

.userSection {
  .userContainer {
    max-width: #{$clamp-width}px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    .tabHeader {
      position: sticky;
      top: #{$navbarHeightNormal + $margin / 2}px;
      border-right: 1px solid rgba($dark, 0.25);
      background-color: $light;
      z-index: 999;
      transition: top ;

      &.pushHeader {
        top: 0px;
        transition: top #{$animDur}ms ease-in-out;
      }
    }

    .tabPanel {
      padding: #{$padding * 2}px;
      position: relative;
      flex: 1;
    }
  }
}

@media screen and (max-width: #{$breakpoint-1}px) {
  .userSection {
    .userContainer {
      flex-direction: column;

      .tabHeader {
        border-right: none;
        border-bottom: 1px solid rgba($dark, 0.25);
        width: 100%;
      }

      .tabPanel {
        width: 100%;
      }
    }
  }
}