@import '../../utils/sizes';

.shopItemRow {
  padding: #{$padding}px;

  .title {
    padding: #{$padding}px;
    font-weight: bold;
    margin-bottom: #{$margin / 2}px;
  }

  .rowViewport {
    overflow: hidden;
    margin-top: #{$margin / 2}px;
    position: relative;
  
    .rowContainer {
      display: flex;
      align-items: stretch;
      user-select: none;
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -webkit-tap-highlight-color: transparent;

      .loader {
        width: 100%;
        margin-top: #{$margin * 2}px;
      }

      .rowItem {
        position: relative;
        display: flex;
        justify-content: stretch;
      }
    }
  }
}
