@import '../../utils/colors';
@import '../../utils/sizes';

$item-width: 225;

.item {
  // For flex based layouts
  flex-basis: #{$item-width}px;
  flex-grow: 0;

  margin: #{$margin * 2}px;
  position: relative;
  display: flex;
  flex-direction: column;

  .price {
    .strike {
      color: rgba($dark, 0.25)
    }
  }

  .imgContainer {
    width: #{$item-width}px;
    height: #{$item-width}px;
    margin-bottom: #{$margin}px;
    position: relative;

    .badge {
      position: absolute;
      top: #{$padding}px;
      right: #{$padding}px;
      z-index: 2;

      &.danger {
        background-color: $danger;
        color: $light;
      }

      &.dangerOutline {
        border-color: $danger;
        background-color: transparent;
        color: $danger;
      }
    }

    .salesBadge {
      position: absolute;
      top: #{$padding}px;
      right: #{$padding}px;
      z-index: 2;
      background: $secondary;
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotate(15deg);

      .text {
        color: $light;
        z-index: 9;
      }

      &:before,
      &:after {
        content: "";
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $secondary;
      }
      &:before {
        transform: rotate(30deg);
      }
      &:after {
        transform: rotate(60deg);
      }
    }
    
    .img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      object-fit: contain;
    }
  }

  .titleContainer {
    flex: 1;
    max-width: #{$item-width}px;
    
    .title {
      font-weight: bold;
      
    }
  }
  

  .categoryContainer {
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    max-width: calc(#{$item-width}px - #{$margin * 4}px);

    .category {
      margin-right: #{$margin}px;
      margin-bottom: #{$margin * 2}px;

      &:last-child {
        margin-right: 0px;
      }
    }
  }
}