@import '../../../../utils/sizes';

.payment {
  .tabContainer {
    margin-bottom: #{$margin * 2}px;

    .panel {
      .title {
        margin-bottom: #{$margin * 1}px;
      }

      .placeOrder {
        margin-top: #{$margin * 2}px;
        display: flex;
        align-items: center;

        .placeOrderBtn {
          margin-right: #{$margin}px;
        }
      }
    }
  }
}