@import '../../utils/colors';
@import '../../utils/sizes';
@import '../../utils/border';

$navbarHeightNormal: 75;
$navbarHeightTrans: 125;
$linksMarginRight: 150;

$animDur: 250;

$menu-width: 300;

// Breakpoints
$breakpoint-1: 900;
$breakpoint-2: 750;

.detect {
  height: #{$navbarHeightTrans}px;
  width: 100%;
  z-index: -999;
  position: absolute;
  top: 0px;
  left: 0px;
}

.navbar {
  background-color: $dark;
  height: #{$navbarHeightNormal}px;
  position: sticky;
  top: 0px;
  transform: translateY(0%);
  display: flex;
  align-items: center;
  z-index: 9999;
  border-radius: 0px;
  will-change: height, background-color, transform;
  transition:
      height #{$animDur}ms ease-in-out,
      background-color #{$animDur}ms ease-in-out,
      transform #{$animDur}ms ease-in-out;

  &.peek {
    transform: translateY(-100%)
  }

  &.NORMAL {
    background-color: $dark;
  }

  &.TRANS {
    height: #{$navbarHeightTrans}px;
    background-color: transparent;
    top: 0px;
    
    .container {
      .logo {
        .img {
          height: #{$navbarHeightTrans - ($margin * 2)}px;
        }
      }
    } 
  }

  .container {
    flex: 1;
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    position: relative;

    .logo {
      .img {
        will-change: height;
        transition: height #{$animDur}ms ease-in-out;
        height: #{$navbarHeightNormal - ($margin * 2)}px;
      }
    }

    .button {
      color: $light;
    }

    .normalButton {
      margin-left: #{$margin * 4}px;
    }

    .iconButton {
      margin-left: #{$margin}px;
    }

    .logo {
      flex: 1;
    }

    .links {
      display: flex;
      margin-right: #{$linksMarginRight}px;
    }

    .actions {
      margin-right: #{$margin * 2}px;
      display: flex;
    }
  }
}

@media screen and (max-width: #{$breakpoint-1}px) {
  .navbar{
    .container {  
      .links {
        margin-right: #{$margin}px;
      }
  
      .actions {
        display: flex;

        *:nth-child(3) {
          margin-left: #{$margin * 2}px;
        }
      }
    }
  }
}

:export {
  breakpointOne: $breakpoint-1;
  breakpointTwo: $breakpoint-2;
}