@import '../../utils/colors';
@import '../../utils/sizes';
@import '../../utils/border';

// Molecule
@import '../../molecules/shop_item/styles.module';

.item {
  width: #{$item-width}px;
  margin: #{$margin * 2}px;
  position: relative;

  .img {
    margin-bottom: #{$margin}px;
    border-radius: #{$border-radius}px;
    width: #{$item-width}px;
    height: #{$item-width}px;
  }

  .categoryContainer {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;

    .category {
      margin-right: #{$margin}px;
      margin-bottom: #{$margin * 2}px;

      &:last-child {
        margin-right: 0px;
      }
    }
  }
}