$dark: #212121;
$grey: #f0f0f0;
$light: #FAFAFA;

$primary: #FFFF01;
$secondary: #008835;

$danger: #e74c3c;

:export {
  dark: $dark;
  grey: $grey;
  light: $light;
  primary: $primary;
  secondary: $secondary;
  danger: $danger;
}