@import './sizes';
@import './colors';

$medium-screen: 992px !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;

body {
  overscroll-behavior-y: contain;
  background-color: #FAFAFA;
}

h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0px;
  padding: 0px;
}

dl,
ol,
ul {
  list-style: none;
  margin-top: 0;
  padding-left: 0;

  dl,
  ol,
  ul {
    font-size: 90%;
    margin: 1.5rem 0 1.5rem 3rem;
  }
}

ol {
  list-style: decimal inside;
}

ul {
  list-style: circle inside;
}

p, li {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

p {
  margin-bottom: #{$margin}px;
}

/*
For contetn that do not use the typography component

*/
h1, h2, h3, h4, h5 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin-bottom: #{$margin * 2}px;
}

h1 {
  font-weight: 400;
  font-size: 2.125rem;
  line-height: 1.235;
  letter-spacing: -0.01562em;
}

h2 {
  font-weight: 300;
  font-size: 3.75rem;
  line-height: 1.2;
  letter-spacing: -0.00833em;
}

h3 {
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.167;
  letter-spacing: 0em;
}

h4 {
  font-weight: 400;
  font-size: 2.125rem;
  line-height: 1.235;
  letter-spacing: 0.00735em;
}

ol, ul {
  margin-bottom: #{$margin}px;
  margin-top: #{$margin}px;
}

table {
  width:100%;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  * {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  }

  &.centered {
    thead tr th, tbody tr td {
      text-align: center;
    }
  }
}

tr {
  border-bottom: 1px solid rgba($dark, 0.25)
}

td, th{
  padding: 15px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}

// Responsive Table
@media #{$medium-and-down} {

  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    position: relative;

    td:empty:before {
      content: '\00a0';
    }

    th,
    td {
      margin: 0;
      vertical-align: top;
    }

    th { text-align: left; }
    thead {
      display: block;
      float: left;

      tr {
        display: block;
        padding: 0 10px 0 0;

        th::before {
          content: "\00a0";
        }
      }
    }
    tbody {
      display: block;
      width: auto;
      position: relative;
      overflow-x: auto;
      white-space: nowrap;

      tr {
        display: inline-block;
        vertical-align: top;
      }
    }
    th {
      display: block;
      text-align: right;
    }
    td {
      display: block;
      min-height: 1.25em;
      text-align: left;
    }
    tr {
      border-bottom: none;
      padding: 0 10px;
    }

    /* sort out borders */
    thead {
      border: 0;
      border-right: 1px solid rgba($dark, 0.25);
    }
  }

}