.aspectView {
  display: block;
  position: relative;

  .view {
    height: 100%;
    left: 0px;
    position: relative;
    top: 0px;
    width: 100%;

    .content {
      height: 100%;
      position: absolute;
      width: 100%;
      top: 0px;
      left: 0px;
    }
  }
}