@import '../../utils/sizes';
@import '../../utils/colors';

$breakpoint1: 800;

.productSection {
  display: flex;
  align-items: flex-start;
  position: relative;

  .carouselContainer {
    flex-basis: 400px;
    flex-shrink: 0;
    position: relative;
  }

  .detailsContainer {
    display: flex;
    flex: 1;

    .details {
      flex: 1;
      padding: #{$padding * 2}px;

      .title {
        margin-bottom: #{$margin}px;
      }

      .rating {
        margin-bottom: #{$margin}px;
      }

      .priceContainer {
        margin-bottom: #{$margin}px;
        display: flex;
        justify-content: space-between;
      }
      
      .divider {
        margin-bottom: #{$margin * 3}px;
      }

      .badge {
  
        &.danger {
          background-color: $danger;
          color: $light;
        }
  
        &.dangerOutline {
          border-color: $danger;
          background-color: transparent;
          color: $danger;
        }
      }

      .categoryContainer {
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
    
        .category {
          margin-right: #{$margin}px;
          margin-bottom: #{$margin}px;
    
          &:last-child {
            margin-right: 0px;
          }
        }
      }

      .cartActions {
        margin-bottom: #{$margin * 3}px;
        display: flex;
        flex-direction: column;

        .row {
          &.loader {
            margin-bottom: #{$margin * 4}px;
          }

          .input {
            max-width: 75px;
            margin-right: #{$margin}px;
          }
        }

        
      }
    }
  }
}

@media screen and (max-width: #{$breakpoint1}px) {
  .productSection {
    flex-direction: column;
    align-items: stretch;

    .carouselContainer {
      flex-shrink: 1;
      max-width: 100%;

      .carousel {
        flex-grow: 1;
        max-width: 100%;
      }
    }

    .detailsContainer {
      width: 100%;
    }
  }
}