@import '../../../../utils/sizes';

.loginContainer {
  padding: #{$padding * 2}px;
  flex: 1;
  max-width: 400px;

  .logoContainer {
    display: flex;
    justify-content: center;
    margin-bottom: #{$margin * 2}px;
  }

  .titleContainer {
    padding: #{$padding * 1.5}px #{$padding * 5}px;

    .title {
      font-weight: bold;
      text-align: center;
    }
  }

  .form {
    display: flex;
    flex-direction: column;

    .input {
      padding: #{$padding * 1.5}px;
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }

    .forgotRemember {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding-left: #{$padding * 1.5}px;
      padding-right: #{$padding * 1.5}px;

      .forgot {
        margin-left: #{$margin * 1.5}px;
      }
    }
  }

  .alternate {
    padding: #{$padding * 1.5}px;
  }
}