@import '../../../../../../utils/colors';
@import '../../../../../../utils/sizes';

.chip {
  color: $light;
  
  &.orange {
    background-color: $warning;
  }
  &.green {
    background-color: $secondary;
  }
  &.red {
    background-color: $danger;
  }
  &.grey {
    background-color: darken($grey, 50%);
  }
}