@import '../../utils/sizes';
@import '../../utils/colors';

.cartContainer {
  .cartView {
    display: flex;

    .left {
      flex: 1;

      .content {
        padding: #{$padding}px;

        .cartItem {
          display: flex;
          align-items: center;
  
          .img, .data, .input, .remove {
            padding: #{$padding}px;
          }
  
          .img {
            .imgShowcase {
              width: 75px;
              height: 75px;
              background-color: transparent;
            }
          }
  
          .data {
            align-self: stretch;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
  
            .title {
              font-size: 1.2rem;
            }
  
            .price {
              margin-bottom: #{$margin}px;

              .strike {
                color: rgba($dark, 0.25)
              }
            }
  
            .categoryContainer {
              overflow: hidden;
              display: flex;
              flex-wrap: wrap;
              overflow: hidden;
          
              .category {
                margin-right: #{$margin}px;
                margin-bottom: #{$margin}px;
          
                &:last-child {
                  margin-right: 0px;
                }
              }
            }
          }
  
          .input {
            flex-basis: 100px;
            flex-shrink: 0;
            flex-grow: 0;
          }
        }
      }

      .actions {
        padding: #{$padding}px;
        display: flex;
        justify-content: flex-end;
      }
    }

    .right {
      padding: #{$padding}px;
      width: 300px;
    }
  }
}