@import '../../utils/sizes';
@import '../../utils/colors';

$breakpoint-1: 845;
$breakpoint-2: 575;
$breakpoint-3: 450;

.cartContainer {
  .cartView {
    display: flex;

    .left {
      flex: 1;

      .content {
        padding: #{$padding}px;

        .cartItem {
          display: flex;
          align-items: center;
  
          .img, .data, .input, .remove {
            padding: #{$padding}px;
          }
  
          .img {
            .imgShowcase {
              width: 75px;
              height: 75px;
              background-color: transparent;
            }
          }
  
          .data {
            align-self: stretch;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .titleContainer {
              .title {
                font-size: 1.2rem;
              }
            }

            .price {
              margin-bottom: #{$margin}px;

              .strike {
                color: rgba($dark, 0.25);
                white-space: nowrap;
              }

              .normal {
                white-space: nowrap;
              }
            }
  
            .categoryContainer {
              overflow: hidden;
              display: flex;
              flex-wrap: wrap;
              flex-shrink: 2;
          
              .category {
                margin-right: #{$margin}px;
                margin-bottom: #{$margin}px;
          
                &:last-child {
                  margin-right: 0px;
                }
              }
            }
          }
  
          .input {
            flex-basis: 100px;
            flex-shrink: 0;
            flex-grow: 0;
          }
        }
      }

      .actions {
        padding: #{$padding}px;
        display: flex;
        justify-content: flex-end;
      }
    }

    .right {
      padding: #{$padding}px;
      width: 300px;

      .cartInfo {
        .row {
          padding-top: #{$padding}px;
          padding-bottom: #{$padding}px;
          display: flex;
          justify-content: space-between;
        }

        .rowEnd {
          padding-top: #{$padding}px;
          padding-bottom: #{$padding}px;
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}

@media screen and (max-width: #{$breakpoint-1}px) {
  .cartContainer {
    .cartView {
      flex-direction: column;

      .right {
        flex: 1;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: #{$breakpoint-2}px) {
  .cartContainer {
    .cartView {
      .left {
        .content {
          .cartItem {

            .data {
              .categoryContainer {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: #{$breakpoint-3}px) {
  .cartContainer {
    .cartView {
      .left {
        .content {
          .cartItem {
            flex-wrap: wrap;
            margin-bottom: #{$margin * 3}px;

            .input {
              flex-basis: 75%;
              margin-left: auto;
            }
          }
        }
      }
    }
  }
}